@import "tailwindcss";
@import "tw-animate-css";

@source "../../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.265 0.051 166.95);
  --primary-foreground: oklch(0.977 0.061 123.442);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.555 0.226 26.423);
  --destructive-foreground: oklch(0.982 0.018 16.289);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar-background: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.371 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --badge-blue-foreground: oklch(0.539 0.233 261.01);
  --badge-blue-background: oklch(0.962 0.019 248.024);
  --badge-blue-border: oklch(0.914 0.045 243.175);
  --badge-amber-background: oklch(0.966 0.049 93.383);
  --badge-amber-foreground: oklch(0.53 0.141 49.395);
  --badge-amber-border: oklch(0.903 0.13 91.231);
  --badge-green-background: oklch(0.969 0.037 147.767);
  --badge-green-foreground: oklch(0.516 0.144 147.771);
  --badge-green-border: oklch(0.915 0.098 145.978);
  --badge-teal-background: oklch(0.971 0.036 179.282);
  --badge-teal-foreground: oklch(0.535 0.097 180.749);
  --badge-teal-border: oklch(0.927 0.071 183.966);
  --badge-purple-background: oklch(0.966 0.022 312.189);
  --badge-purple-foreground: oklch(0.478 0.25 303.299);
  --badge-purple-border: oklch(0.917 0.057 314.184);
  --badge-pink-background: oklch(0.953 0.029 347.076);
  --badge-pink-foreground: oklch(0.536 0.206 2.907);
  --badge-pink-border: oklch(0.908 0.052 357.128);
  --success: oklch(0.627 0.17 149.214);
  --success-foreground: oklch(0.982 0.018 155.826);
  --badge-red-foreground: oklch(0.555 0.226 26.423);
  --badge-red-border: oklch(0.913 0.045 19.701);
  --badge-red-background: oklch(0.95 0.025 11.582);
  --highlight: oklch(0.778 0.159 140.09);
  --error-page-background: oklch(0.176 0.042 166.951);
  --error-page-foreground: oklch(0.977 0.061 123.442);
  --sidebar: hsl(0 0% 98%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.932 0.102 127.26);
  --primary-foreground: oklch(0.265 0.051 166.95);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.685 0.204 21.422);
  --destructive-foreground: oklch(0.982 0.018 16.289);
  --border: oklch(0.205 0 0);
  --input: oklch(0.205 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar-background: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.205 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --badge-blue-foreground: oklch(0.714 0.156 248.898);
  --badge-blue-background: oklch(0.255 0.08 255.119);
  --badge-blue-border: oklch(0.342 0.119 256.394);
  --badge-amber-background: oklch(0.25 0.06 58.427);
  --badge-amber-foreground: oklch(0.762 0.176 61.6);
  --badge-amber-border: oklch(0.357 0.083 60.567);
  --badge-green-background: oklch(0.276 0.083 146.503);
  --badge-green-foreground: oklch(0.732 0.213 147.759);
  --badge-green-border: oklch(0.343 0.102 147.211);
  --badge-teal-background: oklch(0.258 0.049 174.692);
  --badge-teal-foreground: oklch(0.766 0.139 180.476);
  --badge-teal-border: oklch(0.332 0.062 176.608);
  --badge-purple-background: oklch(0.26 0.093 314.801);
  --badge-purple-foreground: oklch(0.698 0.204 309.75);
  --badge-purple-border: oklch(0.359 0.15 309.452);
  --badge-pink-background: oklch(0.261 0.086 356.696);
  --badge-pink-foreground: oklch(0.686 0.218 3.068);
  --badge-pink-border: oklch(0.321 0.117 356.775);
  --success: oklch(0.8 0.182 151.711);
  --success-foreground: oklch(0.982 0.018 155.826);
  --badge-red-background: oklch(0.26 0.083 19.273);
  --badge-red-foreground: oklch(0.685 0.204 21.422);
  --badge-red-border: oklch(0.353 0.127 21.509);
  --highlight: oklch(0.778 0.159 140.09);
  --error-page-background: oklch(0.176 0.042 166.951);
  --error-page-foreground: oklch(0.977 0.061 123.442);
  --sidebar: hsl(240 5.9% 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-badge-blue-foreground: var(--badge-blue-foreground);
  --color-badge-blue-background: var(--badge-blue-background);
  --color-badge-blue-border: var(--badge-blue-border);
  --color-badge-amber-background: var(--badge-amber-background);
  --color-badge-amber-foreground: var(--badge-amber-foreground);
  --color-badge-amber-border: var(--badge-amber-border);
  --color-badge-green-background: var(--badge-green-background);
  --color-badge-green-foreground: var(--badge-green-foreground);
  --color-badge-green-border: var(--badge-green-border);
  --color-badge-teal-background: var(--badge-teal-background);
  --color-badge-teal-foreground: var(--badge-teal-foreground);
  --color-badge-teal-border: var(--badge-teal-border);
  --color-badge-purple-background: var(--badge-purple-background);
  --color-badge-purple-foreground: var(--badge-purple-foreground);
  --color-badge-purple-border: var(--badge-purple-border);
  --color-badge-pink-background: var(--badge-pink-background);
  --color-badge-pink-foreground: var(--badge-pink-foreground);
  --color-badge-pink-border: var(--badge-pink-border);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-badge-red-foreground: var(--badge-red-foreground);
  --color-badge-red-border: var(--badge-red-border);
  --color-badge-red-background: var(--badge-red-background);
  --color-highlight: var(--highlight);
  --color-error-page-background: var(--error-page-background);
  --color-error-page-foreground: var(--error-page-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
